parameters:
	ignoreErrors:
		-
			message: '#^You should not use the `exit` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: front/document.send.php

		-
			message: '#^Parameter \#2 \$force of method CommonDBTM\:\:delete\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: front/exportconfig.form.php

		-
			message: '#^PHPDoc tag @throws with type GlpitestSQLError is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: hook.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Config.php

		-
			message: '#^Class GlpiPlugin\\Autoexportsearches\\Exportconfig referenced with incorrect case\: GlpiPlugin\\Autoexportsearches\\ExportConfig\.$#'
			identifier: class.nameCase
			count: 1
			path: src/Customsearchcriteria.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Customsearchcriteria.php

		-
			message: '#^Method GlpiPlugin\\Autoexportsearches\\Exportconfig\:\:createCSVFile\(\) should return false but returns true\.$#'
			identifier: return.type
			count: 1
			path: src/Exportconfig.php

		-
			message: '#^Method GlpiPlugin\\Autoexportsearches\\Exportconfig\:\:cronAutoexportsearchesExportconfigExport\(\) should return int but returns true\.$#'
			identifier: return.type
			count: 1
			path: src/Exportconfig.php

		-
			message: '#^Parameter \#3 \$usesession of static method Search\:\:manageParams\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Exportconfig.php

		-
			message: '#^Parameter \#4 \$forcebookmark of static method Search\:\:manageParams\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Exportconfig.php

		-
			message: '#^Static method CommonGLPI\:\:getMenuName\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Exportconfig.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Exportconfig.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Files.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Files.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getField\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getID\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Parameter \#2 \$openform \(bool\) of method GlpiPlugin\\Autoexportsearches\\Profile\:\:showForm\(\) should be compatible with parameter \$options \(array\<string, mixed\>\) of method Profile\:\:showForm\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Profile.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Profile.php
